@import 'normalize.css';

:root {
  --primary-color: #1db954;
  --primary-color-light: #4af08a;
  --black-color: #191414;
  --black-color-light-1: #2e2b29; /* đen nhạt hơn một chút */
  --black-color-light-2: #403d3b; /* nhạt hơn nữa */
  --white-color: #ffffff;
  --white-darker-color: #bfbfbf;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
