.notification-wrapper {
  position: fixed;
  top: 80px;
  right: 0px;
  background-color: var(--white-color);
  border-left: 6px solid var(--primary-color);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 12px 16px;
  min-width: 320px;
  max-width: 400px;
  z-index: 12;

  /* ban đầu ẩn bên ngoài màn hình (phải) */
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &.visible {
    /* trượt vào từ phải sang trái */
    transform: translateX(0);
    opacity: 1;
  }

  &.hidden {
    /* trượt ra sang phải để ẩn */
    transform: translateX(100%);
    opacity: 0;
  }
}

.notification-content {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--black-color-light-2);
}

.notification-icon {
  flex-shrink: 0;
  font-size: 18px;
  color: var(--primary-color);
}
