.song-row-link {
  text-decoration: none;
  color: inherit;
  display: block;

  &:hover .song-row {
    background-color: var(--black-color-light-1);
  }
}

.song-row {
  border-bottom: 1px solid var(--black-color-light-2);
  cursor: pointer;

  .song-row-cover {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    border: 1px solid var(--black-color-light-1);
    object-fit: cover;
    flex-shrink: 0;
  }

  .song-row-info {
    overflow: hidden;
    padding-right: 10%;
  }

  .song-row-title {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .song-row-artists {
    color: var(--grey-color);
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .song-row-album {
    color: var(--grey-color);
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .song-row-favorite-icon {
    color: var(--grey-color);
    transition: color 0.2s ease;

    &:hover {
      color: var(--white-color);
    }

    &.active {
      color: var(--primary-color);
    }
  }
}
