.song-row-link {
  text-decoration: none;
  color: inherit;
  display: block;

  &:hover .song-row {
    background-color: var(--black-color-light-1);
  }
}

.song-row {
  border-bottom: 1px solid var(--black-color-light-2);

  .song-row-cover {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--black-color-light-1);
    object-fit: cover;
  }

  .song-row-title {
    font-weight: 500;
  }

  .song-row-artists {
    color: var(--white-darker-color);
  }

  .song-row-album {
    color: var(--white-darker-color);
  }

  .song-row-favorite-icon {
    color: var(--white-color);
    transition: color 0.2s ease;

    &.active {
      color: var(--primary-color);
    }
  }

  cursor: pointer;
}
